* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.header-logo img{
    height: 50px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 20px;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}

.hero-text {
    width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text p {
    padding: 0;
    color: #E5E7EB;
}

.hero-section img{
    height: 300px;
}

.info-section {
    padding: 80px;
}

.info-section > div{
    display: flex;
    justify-content: center;
    gap: 80px;
    
}

.info-section h1 {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.info-card {
    width: 200px;
    text-align: center;
}

.info-card img {
    width: 200px;
    border-radius: 20px;
    border: #3882F6 solid 4px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px 20%;
    text-align: center;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
}

.quote .author {
    margin-left: 70%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 40px;
}

.sign-up {
    margin: 100px 200px;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.sign-up .text {
    color: #F9FAF8;
}

.sign-up button {
    border: white solid 2px;
}